<!-- <router-outlet></router-outlet> -->

<!-- app.component.html -->
<!-- <div>
    <ngx-turnstile
      [siteKey]="recaptchaKey"
      (resolved)="onCaptchaResolved($event)">
    </ngx-turnstile>
  </div>
   -->

   <!-- <div>
    <ngx-turnstile
      *ngIf="!isCaptchaResolved"
      [siteKey]="recaptchaKey"
      (resolved)="onCaptchaResolved($event)">
    </ngx-turnstile>
  </div> -->

  <div>
    <ngx-turnstile
      *ngIf="!isCaptchaResolved"
      [siteKey]="recaptchaKey"
      (resolved)="onCaptchaResolved($event)">
    </ngx-turnstile>
  
    <div *ngIf="isCaptchaResolved">
      <router-outlet></router-outlet>
    </div>
  </div>