* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    /* background: #222831; */
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-right: 50px;
}
.hidden {
    display: none;
}

.logo {
    /* font-size: 32px; */
    font-size: 32px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: var(--text-color);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar i {
    font-size: 28px;
    color: var(--text-color);
    text-decoration: none;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--text-color);
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
}

.responsive-menu a {
    color: var(--text-d-color);
    padding: 12px;
    text-decoration: none;
}

.responsive-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #222831;
    width: 100%;
    z-index: 99;
    padding: auto 0;
    color:var(--text-d-color);
}

@media screen and (max-width: 470px) {
    .logo {
        display: none;
    }
    .header{
        padding: 20px 50%;
    }
}
@media screen and (max-width: 350px) {
    .header{
        padding: 20px 20%;
    }
}

@media screen and (max-width: 850px) {

    .navbar a {
        display: none;
        margin-left : none;
    }
    .responsive-menu a {
        display: none;
    }
    .menu-icon {
        display: flex;
    }
    .responsive-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        /* background-color: #838383; */
        width: 100%;
        z-index: 99;
        min-height: 200px;
        align-items: center; 
        animation: fadeIn .5s forwards
    }
    .responsive-menu a {
        display: block;
        text-align: center;
        margin-left: none;
        
    }
    .responsive-menu a::before {
        content: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
